html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#pageContent{
    width: 100%;
    height: 100%;
}
.square{
    position: relative;
    width: 40vw;
    height: 40vh;
    background-color: #007bff;
    border-radius: 35px;

    text-align: center;
    overflow: hidden;
    cursor: pointer;

    box-shadow: rgba(88, 46, 240, 0.4) 5px 5px, rgba(43, 59, 227, 0.3) 10px 10px;
    padding: 2%;
}
.square:hover{
    background-color: #005cbe;
    transition: 0.4s;
    transform: scale(1.07);



}

#right-container{
    margin-top: 30vh;
    right: 0;
}
#left-container{
    margin-left: 3vw;
    margin-top: 7vh;
}
a{
    text-decoration: none;
    color: white;
}
#gif{
    height: 75%;
    width: 80%;

    margin-top: 7%;
    margin-right: 5%;

    border-radius: 20px;
    background-color: #007bff;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



.logo-holder {
    background: rgba(242, 242, 242, 0);
    height: 220px;
    position: relative;
    padding-top: 12px;
    padding-bottom: 24px;

    width: 40%;
    transform: rotate(270deg);
    left: 30%;

    margin-left: 15%;
    margin-top: 10%;
}

.bg {
    background-size: contain;
    -webkit-filter: drop-shadow(0px 6px 25px rgba(0,0,0,0.5));
}
#barsContainer{
    position: relative;
    left: 10px;
}

.bar {
    position: relative;
    height: 8px;
    background: #f6d606;
    width: 0;
    top: 0;
    left: 18px;
    margin-top: 8px;
    box-shadow: 0 0 3px rgb(255, 240, 0);
    animation: fill 9s infinite alternate, colors 9s infinite alternate;

}

.bar.fill1 {
    animation: fill-1 9s infinite alternate, colors 9s infinite alternate;
}

.bar.fill2 {
    animation:  fill-2 9s infinite alternate, colors 9s infinite alternate;
}


.bar.fill3 {
    animation:  fill-3 9s infinite alternate, colors 9s infinite alternate;
}


.bar.fill4 {
    animation:  fill-4 9s infinite alternate, colors 9s infinite alternate;
}

.bar.fill5 {
    animation:  fill-5 9s infinite alternate, colors 9s infinite alternate;
}

.bar.fill6 {
    animation:  fill-6 9s infinite alternate, colors 9s infinite alternate;
}

@keyframes fill {
    0%   { width: 100px; }
    33%  { width: 70px;}
    66%  { width: 50px;}
    100% { width: 105px; }
}

@keyframes fill-1 {
    0%   { width: 30px; }
    33%  { width: 50px;}
    66%  { width: 110px;}
    100% { width: 40px; }
}

@keyframes fill-2 {
    0%   { width: 20px; }
    33%  { width: 90px;}
    66%  { width: 120px;}
    100% { width: 70px; }
}

@keyframes fill-3 {
    0%   { width: 50px; }
    33%  { width: 20px;}
    66%  { width: 5px;}
    100% { width: 30px; }
}

@keyframes fill-4 {
    0%   { width: 90px; }
    33%  { width: 40px;}
    66%  { width: 80px;}
    100% { width: 140px; }
}

@keyframes fill-5 {
    0%   { width: 30px; }
    33%  { width: 70px;}
    66%  { width: 100px;}
    100% { width: 40px; }
}


@keyframes fill-6 {
    0%   { width: 60px; }
    33%  { width: 20px;}
    66%  { width: 45px;}
    100% { width: 140px; }
}

@keyframes colors {
    0% { background-color: #e0d306;}
    50% { background-color: #fff002;}
    100% { background-color: #e1d205;}
}



/* Second square*/


.question-mark {
    transform: translate(-50%, -50%);
    font-size: calc(10vw + 10vh);
    color: yellow;
    animation: moveAndScaleQuestionMark 4s infinite ease-in-out;
    transform-origin: center;

    margin-left: 50%;
    margin-top: 30%;
}
#question-mark-container{
    width:100%;
    height:100%;

    text-align: center;
}

@keyframes moveAndScaleQuestionMark {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1); /* Initial position and size */
    }
    25% {
        transform: translate(-50%, -50%) rotate(-10deg) scale(1.1); /* Move left and scale up */
    }
    75% {
        transform: translate(-50%, -50%) rotate(10deg) scale(0.9); /* Move right and scale down */
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1); /* Reset position and size */
    }
}

#calculator{
    height: 50%;
    width: 50%;
    border-radius: 10px;
    margin-top: 10%;
}