.txt{
    font-size: x-large;
    margin: 25px;
}
#information{
    margin: 45px;

}
form{
    margin: 15px 15px 15px 45px;
}
.title{
    font-size: xx-large;
    margin: 10px;
}
.pwInput{
    margin: 5px 5px 10px;
}
#pwButton{
    margin-top: 10px;
}